include README.md
include LICENSE
include *.sh
include *.md
include src/*
include src/cryptonight/*
include src/misc/*
include pycryptonight/tests/data/*
graft src
graft src/cryptonight
graft src/misc
